*,
*::before,
*::after {
  padding: 0px;
  border: 0px;
  margin: 0px;
  outline: 0px;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --primary-color: rgba(199, 159, 159, 0);
  --gray-hue: 240;
  --color-primary: hsl(var(--primary-color), 100%, 50%);
  --color-primary: hsl(var(--primary-color), 100%, 65%);
  --color-secondary: #ffb116;
  --color-gray-100: hsl(var(--primary-color), 47%, 94%);
  --color-gray-200: hsl(var(--primary-color), 26%, 75%);
  --color-gray-300: hsl(var(--primary-color), 24%, 64%);
  --color-gray-400: hsl(var(--primary-color), 16%, 41%);
  --color-gray-500: hsl(var(--primary-color), 44%, 25%);
  --color-gray-600: hsl(var(--primary-color), 48%, 15%);
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --transition: all 500ms ease;
}
body {
  background: var(--primary-color);
  font-family: "Times New Roman", Times, serif;
  color: var(--color-gray-200S);
  line-height: 1.5rem;
  overflow-x: hidden;
  background-color: var(--color-gray-600);
}
.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--color-gray-100);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 3rem;
}
a {
  color: var(--color-gray-100);
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}
.btn {
  color: rgb(226, 50, 50);
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background: #faac94ff;
  border-radius: 1.5rem;
  transition: var(--transition);
}
.btn:hover {
  background: var(--color-secondary);
  color: rgb(226, 50, 50);
}
.btn.lg {
  padding: 1.2rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
}
.btn.sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}
.btn.sm:hover {
  background: var(--color-secondary);
}

section {
  margin-top: 10rem;
}
.section__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section__head span {
  background: var(--color-gray-500);
  padding: 0.8rem;
  border-radius: 1rem;
  color: var(--color-secondary);
  font-size: 1.5rem;
}
.card {
  background: pink;
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem 0 3rem;
  transition: var(--transition);
}
.card:hover {
  background: rgba(241, 71, 99, 0.747);
  border-color: rgba(241, 71, 99, 0.747);
  border-width: 3px;
  cursor: pointer;
  transition: var(--transition);
}
.card span {
  width: 3rem;
  height: 3rem;
  background: var(--color-primary);
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}
.card:hover span {
  background: var(--color-secondary);
  color: var(--color-gray-600);
}
.card small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}
.header{
    margin-top: 5rem;
    height: 20rem;
    overflow: hidden;
    border-bottom: 2px solid red;
}
.header__container{
    width: 100%;
    height: 100%;
    position:relative;
    display: grid;
    place-items: center;
    background:black;
}
.header__container-bg{
    position: absolute;
    width: 100%;

}
.header__container-bg img{
opacity: 0.5;
} 
.header__content{
    position: relative;
    width: 44%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-gray-100);
}
.header__content h2{
    margin-bottom: 1rem ;
    color: white;
}
.header__content p{
    color: white;
}
/* Media Queries(medium screens) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .header__content{
    width: 76% ;
    line-height: 1.3;
  }
}
/* Media Queries(small screens) */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1.3;
  }
  section{
    margin-top: 7rem;
  }
  .header{
    height: fit-content;
  }
  .header__content{
    width: var(--container-width-md);
    padding: 3rem 0 ;
  }
  .header__content p{
    font-size: 0.85;
  }
}